
<footer>

  <div class="footer-margin">
    <div class="social-footer">      
    	<strong>PHYSICOMTECH </strong>피지컴텍<br>
		<strong>PHONE.</strong> 070-8272-3199<br>
		<strong>E-mail.</strong> physicomtech@gmail.com<br>
		<strong>Address.</strong> 부산 남구 수영로 282, 610호<br>
    </div>
    <div class="copyright" style="margin-top: 20px;">© 2018 Copyright PHYSICOMTECH Inc.All rights reserved</div>

  </div>


</footer>
