<!--Preloader-->
<div class="preloader" id="preloader">
  <div class="item">
    <div class="spinner">
    </div>
  </div>
</div>

<div class="opacity-nav">

  <div class="menu-index" id="buttons" style="z-index:999999">
    <i class="fas fa-times"></i>
  </div>
  <ul class="menu-fullscreen">
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/basic">Basic Coding</a></li>
    <li><a href="/mqttclient">MQTT Client</a></li>
    <li><a href="/download">Download</a></li>
    <li><a href="/inquire/board/list">Q&A</a></li>
    <li><a href="https://smartstore.naver.com/physi">Store</a></li>
  </ul>

</div>

<!--Header-->
<header id="fullscreen">

  <div class="logo" id="full"><a class="ajax-link" href="/">PHYSIs MAKER KIT</a></div>

  <div class="menu-index" id="button">
    <i class="fas fa-bars"></i>
  </div>

</header>

<div class="clear"></div>
